<div class="row">

<div class="col-md-6">
<ol class="list-group">
<li class="list-group-item"
>
<i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo)"></i>
</li>
</ol>
</div>
<div class="col-md-6">

name : <input type="text" class="form-control" [(ngModel)]="todo.name">
content : <input type="text" class="form-control" [(ngModel)]="todo.content">
<button class="btn btn-primary"
(click)="addTodo()"
 [disabled]="!todo.name.trim().length || !todo.content.trim().length">
   AddTodo

</button>



</div>


</div>